<tr class="table-secondary">
    <td> <a href="/articles/<%= article.id %>"><%= article.title %></a></td>
    <td> <%= truncate(article.body, length: 50)%> </td>
    <% if article.img_art.file? == true %>
      <td>
        <picture class="submit-bot ">
          <%= image_tag article.img_art.url(:thumb),class:"img-fluid", alt:"Responsive image" %>
        </picture>
      </td>
    <% else %>
      <td>No tiene imagen</td>
    <% end %>
    <td>
      <% temporal = " " %>
      <% article.categories.each do |y| %>
          <% temporal = temporal + y.name + " " %>
      <% end %>
      <p> <%= temporal %> </p>
    </td>

    <td>
        <% if user_signed_in? %>
          <% if current_user.is_editor? %>
            <%= link_to "Editar", edit_article_path(article), class:"btn btn-outline-success"%>
          <% end %>
          <% if current_user.is_admin? %>
            <%= link_to "Borrar", article, method: :delete , data: {confirm: "Esta seguro?"}, class:"btn btn-outline-danger" %>
          <% end %>
        <% end %>
    </td>
</tr>
